.container {
  margin-bottom: var(--spacing-2xl);
  overflow-x: scroll;

  @media screen and (width >= 1600px) {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
}

.table {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;

  @media screen and (width >= 1600px) {
    display: inline-table;
    width: auto;
  }
}

.table th,
.table td {
  min-width: 100px;
  padding: 4px 8px;
  text-align: left;
  border: 1px solid var(--border);
}

.table th {
  background-color: var(--muted);
}

@media screen and (width <= 800px) {
  .table {
    display: block;
    width: 100%;
  }
}

/* iconの行だけは、min-widthを48pxにする */
.table th:last-child,
.table td:last-child {
  min-width: 48px;
}

.icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
