.container {
  margin-bottom: var(--spacing-2xl);
  overflow-x: scroll;
}

.table {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}

.table th,
.table td {
  min-width: 100px;
  padding: 4px 8px;
  text-align: left;
  border: 1px solid var(--border);
}

.table th {
  background-color: var(--muted);
}

@media screen and (width <= 800px) {
  .table {
    display: block;
    width: 100%;
  }
}

/* iconの行だけは、min-widthを48pxにする */
.table th:last-child,
.table td:last-child {
  min-width: 48px;
}

.icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.name {
  font-weight: bold;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-md);
}

.input {
  width: 60px;
  padding-left: 8px;
  margin-left: 8px;
}

@media screen and (width >= 1600px) {
  .container {
    display: flex;
    justify-content: center; /* コンテナを中央に配置 */
    overflow-x: hidden; /* スクロールバーを無効にする */
  }

  .table {
    display: inline-table; /* テーブルを中央に配置するために必要 */
    width: auto;
  }
}
