@layer reset;
@layer theme;
@layer base;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap');

@layer base {
  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--foreground);
    background-color: var(--background);
  }

  h1 {
    font-size: 3em;
    font-weight: 600;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 600;
  }

  h3 {
    font-size: 2.25em;
    font-weight: 600;
  }

  h4 {
    font-size: 2em;
    font-weight: 600;
  }

  h5 {
    font-size: 1.75em;
    font-weight: 600;
  }

  h6 {
    font-size: 1.5em;
    font-weight: 600;
  }

  p {
    font-size: 1em;
    font-weight: 400;
  }
}

@layer theme {
  :root {
    --background: #fff;
    --foreground: #08080a;
    --card: #fff;
    --card-foreground: #08080a;
    --popover: #fff;
    --popover-foreground: #08080a;
    --primary: #17171b;
    --primary-foreground: #f9f9f9;
    --secondary: #f4f4f5;
    --secondary-foreground: #17171b;
    --secondary-hover: #e3e3e7;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #17171b;
    --destructive: #e44;
    --destructive-foreground: #f9f9f9;
    --border: #e3e3e7;
    --border-accent: #cfcfcf;
    --table-header: #f4f4f4;
    --table-border: #ddd;
    --input: #e3e3e7;
    --ring: #17171b;
    --transparent: transparent;
    --radius: 0.5rem;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 64px;
  }

  .dark {
    --background: #08080a;
    --foreground: #f9f9f9;
    --card: #08080a;
    --card-foreground: #f9f9f9;
    --popover: #08080a;
    --popover-foreground: #f9f9f9;
    --primary: #f9f9f9;
    --primary-foreground: #17171b;
    --secondary: #27272a;
    --secondary-foreground: #f9f9f9;
    --secondary-hover: #45454c;
    --muted: #27272a;
    --muted-foreground: #a1a1a9;
    --accent: #27272a;
    --accent-foreground: #f9f9f9;
    --destructive: #7f1d1d;
    --destructive-foreground: #f9f9f9;
    --border: #27272a;
    --border-accent: #45454c;
    --table-header: #27272a;
    --table-border: #45454c;
    --input: #27272a;
    --ring: #d3d3d7;
  }
}

@layer reset {
  /* https://github.com/mayank99/reset.css/blob/main/package/index.css */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  :where([hidden]:not([hidden='until-found'])) {
    display: none !important;
  }

  :where(html) {
    tab-size: 2;
    color-scheme: dark light;
    text-size-adjust: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
      scroll-behavior: smooth;
    }
  }

  :where(body) {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  :where(button) {
    all: unset;
  }

  :where(input, button, textarea, select) {
    font: inherit;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: inherit;
  }

  :where(textarea) {
    resize: vertical;
    resize: block;
  }

  :where(button, label, select, summary, [role='button'], [role='option']) {
    cursor: pointer;
  }

  :where(:disabled) {
    cursor: not-allowed;
  }

  :where(label:has(> input:disabled), label:has(+ input:disabled)) {
    cursor: not-allowed;
  }

  :where(a) {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: inherit;
    text-underline-offset: 0.2ex;
  }

  :where(ul, ol) {
    list-style: none;
  }

  :where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
  }

  :where(img, picture, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }

  :where(h1, h2, h3) {
    line-height: calc(1em + 0.5rem);
    text-wrap: balance;
  }

  :where(hr) {
    overflow: visible;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: inherit;
    border: none;
    border-block-start: 1px solid;
    block-size: 0;
  }

  :where(:focus-visible) {
    outline: 3px solid CanvasText;
    outline-offset: 1px;
    box-shadow: 0 0 0 5px Canvas;
  }

  :where(:focus-visible, :target) {
    scroll-margin-block: 8vh;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  :where(.visually-hidden:not(:focus-within, :active)) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
