.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  border: var(--primary) 2px solid;
  border-radius: var(--radius);
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.outlined {
  color: var(--primary);
  background-color: var(--transparent);
  border: 1px solid var(--border);

  &:hover {
    border: 1px solid var(--border-accent);
  }
}

.filled {
  color: var(--primary-foreground);
  background-color: var(--primary);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-foreground);
  background-color: var(--primary);
  opacity: 0.5;

  &:hover {
    opacity: 0.5;
  }
}

.spinner {
  width: 20px;
  height: 20px;
  border: 4px solid var(--transparent);
  border-top: 4px solid var(--secondary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
