.container {
  overflow-x: scroll;
}

.table {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}

.table th, .table td {
  min-width: 100px;
  padding: 4px;
  text-align: center;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

@media screen and (width <= 800px) {
  .table {
    display: block;
    width: 100%;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.pagination button:disabled {
  cursor: default;
  background-color: #eee;
}
