.container {
  margin-bottom: var(--spacing-2xl);
  overflow-x: scroll;
}

.table {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}

.table th,
.table td {
  min-width: 100px;
  padding: 4px;
  text-align: center;
  border: 1px solid var(--table-border);
}

.table th {
  background-color: var(--table-header);
}

@media screen and (width <= 800px) {
  .table {
    display: block;
    width: 100%;
  }
}
