.link {
  color: var(--foreground);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: 24px;
  border: var(--border) 1px solid;
  border-radius: var(--radius);

  &:hover {
    border-color: var(--border-accent);
  }
}

.title {
  margin: 0;
}

.description {
  color: var(--mute-foreground);
}
