.base {
  padding: 12px;
  font-size: 1em;
  border-radius: var(--radius);
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.filled {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.outlined {
  border: var(--primary) 1px solid;
  color: var(--primary);
}
